@page "/covidData"

@using CovidData.Entities
@using CovidData.Web.Data

@inject CovidDataService covidDataService

<h1>Covid-19 data</h1>

@if (covidDatas == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sex</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var covidData in covidDatas)
            {
            <tr>
                <td>@covidData.id</td>
                <td>@covidData.sex</td>
                <td>@covidData.date</td>
                <td>@covidData.location</td>
            </tr>
            }
    </tbody>
</table>
}

@code {
    private int currentCount = 0;

    private IList<CovidInfection> covidDatas;

    protected override async Task OnInitializedAsync()
    {
        covidDatas = await covidDataService.GetCovidData();

    }

    private void IncrementCount()
    {
        currentCount += 2;
    }
}
